.gradle/
/build/
/.idea/
/.run/
/out/
/bin/
/.classpath
/.project
/.settings/
/run/

Thumbs.db
*.log
*.tmp
*.swp
*.DS_Store
/.tmp_mcp
/.claude
implementation.md
shahed_physics_plan.md
/SuperbWarfare-0.8.8
/testshaders
